{% extends "Header-Footer.html.twig" %}
{% block body %}
<div class="container">
    <div class="card">
        <div class="card-header">
        {{ formulaire.getTitre() }}
        </div>
        {{ include('Formulaire/Response_ligne.html.twig') }}
    </div>
</div>
{% endblock %}