<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}nique!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}
        <form method="POST">
            <input name="mail" type="email" placeholder="mail" value=""/>
            <input name="mdp" type="password" placeholder="mdp" value=""/>
            <button>Log-in</button>
        </form>
        {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
