{% extends "Header-Footer.html.twig" %}
    {% block body %}
        <div class="btn-group" role="group" aria-label="Basic example">
           <a href='/index.php/Register' class="btn btn-dark">Register</a>
           <a href='/index.php/Login' class="btn btn-dark">Log-In</a>
           <a href='/index.php/Formulaire/Create' class="btn btn-dark">Create</a>
           <a href='/index.php/Formulaire/Read' class="btn btn-dark">Liste Formulaire</a>
        </div>
    {% endblock %}
    {% block javascripts %}{% endblock %}