<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}BTS_PROJECT{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}
            <a href='/Register'><button>Register</button></a>
            <a href='/Login'><button>Log-In</button></a>
        {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
