{% extends "Header-Footer.html.twig" %}
    {% block body %}
        <div class="btn-group" role="group" aria-label="Basic example">
           <a href='/Login' class="btn btn-dark">Log-In</a>
           <a href='/Formulaire/Create' class="btn btn-dark">Create</a>
           <a href='/Formulaire/Read' class="btn btn-dark">Liste Formulaire</a>
        </div>
    {% endblock %}
    {% block javascripts %}{% endblock %}