{% extends "Header-Footer.html.twig" %}
    {% block body %}
      <div class="container">
        {% if utils.getID() is defined %}
              {% include "MenuForAdmin.html.twig" %}
        {% else %}
        <link rel="stylesheet" href="{{ asset('menu_template.css') }}">
        <div class="login">
          <div class="wrap">
            <!-- RECOVERY -->
            <div class="recovery">
              <h2>Mot de Passe Oublier.</h2>
              <p>Entrez votre <strong>address email</strong> ou <strong>votre pseudonyme</strong> de votre compte.</p>
              <p>Vous allez recevoir un mail avec vos identifiants si vous possedez un compte.</p>
              <form class="recovery-form" action="" method="post">
                <input type="text" class="input" id="user_recover" placeholder="Email ou Pseudo">
                <input type="submit" class="button" value="Envoyer">
              </form>
              <div class="form-wrap">
                <p><a class="forgot" href="">Retour</a></p>
              </div>
            </div>

            <div class="content">
              <div id="slideshow">
                <div class="one">
                    <h2><span>CFAI FORMS</span></h2>
                    <p>Cet outils vous permets de crée vos propre formulaires et de les diffuser a toute les personnes que vous souhaitez.</p>
                </div>
              </div>
            </div>
            <div class="user">
              <div class="form-wrap">
                <div class="tabs">
                  <h3 class="login-tab"><a class="log-in active"><span>Login<span></a></h3>
                  <!--<h3 class="signup-tab"><a class="sign-up" href="#signup-tab-content"><span>Sign Up</span></a></h3>-->
                </div>
                <div class="tabs-content">

                  <!-- TABS CONTENT LOGIN -->
                  <div id="login-tab-content" class="active">
                    <form class="login-form"  id="login" method="POST">
                      <input type="text" class="input" name="T_Pseudo" id="pseudo_login" autocomplete="off" placeholder="Pseudo ou Email" required="required" value="">
                      <input type="password" class="input"  name="T_Mdp" id="mdp_login" autocomplete="off" placeholder="Mot de passe" required="required" value="">
                      <span id='Login_callback'></span>
                      <input type="submit" name="save" class="button" value="login">
                    </form>
                    <div class="help-action">
                      <p><a class="forgot" href="">Forgot your password?</a></p>
                    </div>
                  </div>
                  <!-- TABS CONTENT SIGNUP 
                  <div id="signup-tab-content">
                    <form class="signup-form" method="POST">
                      <input type="text" class="input" name="T_Pseudo" id="pseudo" autocomplete="off" placeholder="Pseudo" required="required" value="">
                      <span id='pseudo_callback'></span>
                      <input type="text" class="input" name="T_Prenom" autocomplete="off" placeholder="Prénom" required="required" value="">
                      <input type="text" class="input" name="T_Nom" autocomplete="off" placeholder="Nom" required="required" value="">
                      <input type="email" class="input" name="T_Email" id="email" autocomplete="off" placeholder="Email" required="required" value="">
                      <span id='email_callback'></span>
                      <input type="password" class="input" id='Password' name="T_Mdp" autocomplete="off" placeholder="Mot de passe" required="required" value="">
                      <input type="password" class="input" id='ConfirmPassword' name="T_Confirmed_Mdp" autocomplete="off" placeholder="Confirmation mot de passe" required="required" value="">
                      <span id='msg'></span>
                      <input type="submit" name="save" id='submit' class="button" value="register" disabled="disabled">
                    </form>
                  </div>-->
                </div>
              </div>
            </div>
          </div>
        </div>
      {% endif %}
    {% endblock %}
    {% block javascripts %}
    <script> 

$(document).ready(function(){

// CUSTOM JQUERY FUNCTION FOR SWAPPING CLASSES
(function($) {
	'use strict';
	$.fn.swapClass = function(remove, add) {
		this.removeClass(remove).addClass(add);
		return this;
	};
}(jQuery));

// SHOW/HIDE PANEL ROUTINE (needs better methods)
// I'll optimize when time permits.
$(function() {
	$('.agree,.forgot, .log-in, .sign-up').on('click', function(event) {
		event.preventDefault();
		var terms = $('.terms'),
        recovery = $('.recovery'),
        close = $('#toggle-terms'),
        arrow = $('.tabs-content .fa');
		if ($(this).hasClass('agree') || $(this).hasClass('log-in') && terms.hasClass('open')) {
			if (terms.hasClass('open')) {
				terms.swapClass('open', 'closed');
				close.swapClass('open', 'closed');
				arrow.swapClass('active', 'inactive');
			} else {
				if ($(this).hasClass('log-in')) {
					return;
				}
				terms.swapClass('closed', 'open').scrollTop(0);
				close.swapClass('closed', 'open');
				arrow.swapClass('inactive', 'active');
			}
		}
		else if ($(this).hasClass('forgot') || $(this).hasClass('sign-up')) {
			if (recovery.hasClass('open')) {
				recovery.swapClass('open', 'closed');
				close.swapClass('open', 'closed');
				arrow.swapClass('active', 'inactive');
			} else {
				if ($(this).hasClass('sign-up')) {
					return;
				}
				recovery.swapClass('closed', 'open');
				close.swapClass('closed', 'open');
				arrow.swapClass('inactive', 'active');
			}
		}
	});
});
  $("#Password, #ConfirmPassword").keyup(function(){
        if ($("#Password").val() != $("#ConfirmPassword").val()) {
          $("#msg").html("Password do not match").css("color","#eb4034");
          $("#submit").attr("disabled", true);
        }else{
          $("#msg").html("Password matched").css("color","lightgreen");
          $("#submit").attr("disabled", false);
      }
  });
  $('body').on('focusout', '#pseudo , #email', function(){
      $.ajax({
          url: "/Formulaire/Check_Users/",
          type:"POST",
          data:{
            Value : $(this).val()
          },
          success:function() {
            console.log("OK");
            $("#submit").attr("disabled", false);	 
              $("#pseudo_callback,#email_callback").html('');
          },
          error:function(response){
            $("#submit").attr("disabled", true);
            
            if(response.responseJSON.Name == "pseudo")
            {
              $("#pseudo_callback").html(response.responseJSON.Error).css("color","#eb4034");
            }
            else
            {
              $("#email_callback").html(response.responseJSON.Error).css("color","#eb4034");
            }
          }
      });
  });

    $('#login').submit(function (e) {

        e.preventDefault();
        $.ajax({
            url: "/Formulaire/Login/",
            type:"POST",
            data:{
              T_Pseudo : $('#pseudo_login').val(),
              T_Mdp : $('#mdp_login').val()
            },
            success: function (response) {
              location.reload();
            },
            error: function (response) {
              $("#Login_callback").html(response.responseJSON.Error).css("color","#eb4034");
            },
        });
    });
});
</script>
    {% endblock %}