{% extends "Header-Footer.html.twig" %}
{% block body %}

    <form method="POST">
        <input name="T_Titre" type="test" placeholder="test" value=""/>
        <input name="D_Crea" type="date" placeholder="date" value=""/>
        <button name="save" Value="true">validate</button>
    </form>
{% endblock %}