{% extends "Header-Footer.html.twig" %}
    {% block body %}
    <form method="POST">
        <input name="nom" type="text" placeholder="Nom" value=""/>
        <input name="prenom" type="text" placeholder="prenom" value=""/>
        <input name="mail" type="email" placeholder="mail" value=""/>
        <input name="mdp" type="password" placeholder="mdp" value=""/>
    </form>
    {% endblock %}
    {% block javascripts %}{% endblock %}